<!-- From Thoughtbot Backbone book -->
<script type="text/json" class="userdata">
  {
    "user": <%= render(template: "users/_user.json.rabl") %>,
    "places": <%= @user.places.to_json %>

  }
</script>

<div class="header"></div>
<div class="app">
  <div class="sidebar span3"></div>
  <div class="main span9">
</div>


<script type="text/javascript">
  var div = $('<div></div>');
  div.html($('.userdata').text());
  var data = JSON.parse(div.text());
  TripList.start(data);
</script>
