<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <%= link_to "Sign Up", signup_path %>
    </li>
    <li>
      <%= link_to "Log In", login_path %>
    </li>
  </ul>
  <h3>Trip List</h3>
</div>
