<%= render "/pages/header" %>

<div class="jumptron">
  <h1>Goodbye Notepad</h1>
  <p>Trip List keeps track of all those things you want to do.</p>

<%= link_to "Sign Up", signup_path %>
</div>
<h3>Tour</h3>
