<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">TripList</a>
      <ul class="nav nav-pills pull-right">
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
