<div class="span9">
  <div class="row-fluid">
    <div class="span4 photo-box-layout">
      <div class="photo-title">
       First column
      </div>
      <div class="photo-box">
        Your photo goes here
      </div>
      <div class="tag-box">
        #earth, #moon
      </div>
    </div>
    <div class="span4 photo-box-layout">
      <div class="photo-title">
        Second column
      </div>
      <div class="tag-box">
        #earth2, #moon2
      </div>
    </div>
    <div class="span4 photo-box-layout">
      <div class="photo-title">
        Third Column
      </div>
      <div class="tag-box">
        #earth3, #moon3
      </div>
    </div>
  </div>
</div>
