<div class="item_details span8 center">
  <h3 class="place-title"><%= this.model.get('title') %></h3>
  <img src="
    <%= this.model.get('photo_orig') %>
    " alt="place" class="place" />

  <div class="big-notes">
    <h4>Notes</h4>
    <p><%= this.model.get('notes') %></p>
  </div>

  <div class="tag-info">
    <h4>Tags</h4>
   <% var tags = this.model.get('tag_list') %>
   <% for(i=0; i < tags.length; i++) { %>
     <a href="#">
       <%= tags[i] %>
     </a>
   <% } %>
  </div>
</div>
