<div class="span2">
  <div class="sidebar-nav">
    <div class="profile-box">
      <h5>
        <%= this.model.get('first_name') %>
      </h5>
      <img src="
        <%= this.model.get('avatar_thumb') %>
        " alt="profile-pic" class="profile-pic" />
      <a href="#">Edit Profile</a>  
    </div>
    <ul class="nav nav-tabs nav-stacked">
      <li class="nav-header">Navigation</li>
      <li><a href="#" class="toVisit-link">To Visit</a></li>
      <li><a href="#" class="visited-link">Visited</a></li>
      <li class="nav-header">Functions</li>
      <li><a href="#" class="addNewPlace">Add a New Place</a></li>
    </ul>
  </div>
