<div class="span3">
  <div class="sidebar-nav">
    <div class="profile-box">
      <h6><%= this.model.get('first_name') %></h6>
      <div class="profile-pic">
        <img src="
          <%= this.model.get('avatar_thumb') %>
        " alt="profile-pic" />
      </div> 
    </div>
    <ul class="nav nav-tabs nav-stacked">
      <li class="nav-header">Navigation</li>
      <li><a href="#">To Visit</a></li>
      <li><a href="#">Visited</a></li>
    </ul>
  </div>
</div>
