<div class="span3">
  <div class="sidebar-nav">
    <div class="profile-box">
      <b>Username</b>
      <div class="profile-pic">
      </div> 
    </div>
    <ul class="nav nav-tabs nav-stacked">
      <li class="nav-header">Navigation</li>
      <li><a href="#">To Visit</a></li>
      <li><a href="#">Visited</a></li>
    </ul>
  </div>
</div>
