.photo-box-layout {
  border: 1px solid black;
  height: 400px;
  position: relative;
}

.photo-title {
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}

.photo-box {
  border: 1px solid red;
  height: 312px;
  padding: 4px;

}

.tag-box {
  border-top: 1px solid black;
  position: absolute; 
  height: 45px;
  bottom: 0;
  width: 100%; 
}

.profile-box {
  height: 150px;
  border: 1px solid black;
  border-bottom: 1px solid black;
  padding: 3px;
  text-align: center;
}

.profile-pic {
  display: block;
  margin: 0 auto;
}
